<button mat-stroked-button (click)="changeDisplay()">{{ buttonText }}</button>

<app-pokemon-search (filterPokemons)="filter($event)"></app-pokemon-search>

<mat-grid-list *ngIf="buttonText == 'TEXT LIST'" cols="4" rowHeight="420px">
  <mat-grid-tile *ngFor="let pokemon of pokemons">
        <mat-card appBorder [damage]="pokemon.damage" class="pokemon-card">
          <div class="pokemon-card-header">
              <mat-card-title>{{ pokemon.name }}</mat-card-title>
              <mat-card-subtitle>Damage: {{ pokemon.damage }}</mat-card-subtitle>
          </div>
          <img routerLink="/pokemon/{{ pokemon.id }}" mat-card-image src="../../../assets/pokemons/{{ pokemon.id }}.png"  alt="Pokemon {{ pokemon.name }}">
          <mat-card-actions class="buttons">
            <button *ngIf="!pokemon.caught" #button mat-button (click)="printInConsole(button, pokemon)">СATCH</button>
            <button *ngIf="pokemon.caught" #button mat-button (click)="printInConsole(button, pokemon)">LET GO</button>
            <button routerLink="/edit/{{ pokemon.id }}" mat-button>EDIT</button>
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-list *ngIf="buttonText == 'LIST OF CARDS'">
  <mat-list-item *ngFor="let pokemon of pokemons">
    <img matListAvatar src="../../../assets/pokemons/{{ pokemon.id }}.png"  alt="Pokemon {{ pokemon.name }}">
    <div appBorder [damage]="pokemon.damage">
      <h3 mat-line class="text-list-pokemon-name"> {{pokemon.name}} </h3>
      <h5 class="text-list-pokemon-damage">Damage: {{ pokemon.damage }}</h5>
    </div>
    <button class="button-text-list" #button mat-button (click)="printInConsole(button, pokemon.name)">СATCH</button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
