<form class="pokemon" [formGroup]="pokemonForm" (ngSubmit)="onSubmit(pokemonForm.value)">
  <div class="div-pokemon-image">
    <img mat-card-image class="pokemon-image" src="../../../assets/pokemons/{{ pokemon.id }}.png" alt="Pokemon {{ pokemon.name }}">
  </div>
  <div class="pokemon-info">
    <input class="pokemon-name" id="name" type="text" formControlName="name">
    <div class="pokemon-detailed-info">
      <div>
        <h3 class="detailed-info-label">Pokemon damage:</h3>
        <mat-form-field class="detailed-info-value">
          <input id="damage" type="text" formControlName="damage" matInput>
        </mat-form-field>
      </div>
      <div>
        <h3 class="detailed-info-label">Pokemon creation date:</h3>
        <mat-form-field class="detailed-info-value">
          <input id="creationDate" type="text" formControlName="creationDate" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="pokemon-button">
      <button mat-button class="button-text-list button-1" (click)="openPopup()">SAVE</button>
      <button mat-button class="button-text-list button-2" (click)="cancel()">CANCEL</button>
    </div>
  </div>
</form>
