.pokemon {
  height: 85%;
}

.div-pokemon-image {
  float: left;
  width: 50%;
}

.pokemon-image {
  border: groove;
  margin-left: 130px;
  margin-top: 50px;
}

.pokemon-info {
  float: left;
  width: 40%;
  margin-top: 50px;
  padding-left: 35px;
}

.pokemon-name {
  border: groove;
  text-align: center;
  width: 500px;
  margin: auto;
}

.pokemon-detailed-info {
  width: 500px;
  height: 300px;
  border: groove;
  margin: 25px auto auto;
}

.button-text-list {
  width: 500px;
}

.pokemon-button {
  width: 500px;
  margin: 25px auto auto;
  background: lavender;
  color: rgba(0, 0, 0, 0.87);
}
